<dx-text-box #textBoxRef
             [value]="displayValue"
             [placeholder]="displayPlaceholder"
             [ngClass]="{'inherited': isInherited()}"
             (onValueChanged)="onValueChanged($event)"
             (onInput)="onInput()"
             (onFocusOut)="onFocusOut($event)">
</dx-text-box>
<div style="font-size: 0.9em; color: #888; margin-top: 0.25em;">
  Value: {{data[fieldName]}} | Display: {{displayValue}} | Has/Is Inherited: {{hasInherited()}} / {{isInherited()}}
  <span *ngIf="inheritedFieldName"> | Inherited: {{data[inheritedFieldName]}}</span>
  <span *ngIf="dirty" style="color: #c00;"> | dirty</span>
</div>
